services:
  - type: web
    name: cloaker4-frontend
    env: node
    rootDir: frontend
    buildCommand: yarn install
    startCommand: yarn start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000